<style>
  div {
    text-align: center;
  }
  table,th,td {
    border: 1px solid black;
  }
</style>

<div style="margin:2rem">
  <h2>Törölt szerzők</h2>

  <div style="margin-bottom: 10px">
    <p>
      <a mat-button routerLink="/authors"><b>Vissza</b></a>
    </p>
  </div>

  <table style="margin-left: auto; margin-right: auto; font-size: 20px; border-collapse: collapse;">
    <tr>
      <th>Név</th>
      <th>Születési idő</th>
      <th>Nemzetiség</th>
    </tr>
    <tr *ngFor="let author of deleted$ | async">
      <td>{{author.name}}</td>
      <td>{{author.birth}}</td>
      <td>{{author.nationality}}</td>
      <td>
        <button title="Visszavon" (click)="onUndo(author.name)">Visszavon</button>
      </td>
    </tr>
  </table>

</div>