<style>
  div {
    text-align: center;
  }
</style>

<div>
  <h3>Szerző szerkesztése</h3>
  <p>
    <a mat-button routerLink="/authors">
      <b>Vissza</b>
    </a>
  </p>

  <form [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm.value)">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Név</mat-label>
        <input matInput placeholder="Név" formControlName="name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Születési év</mat-label>
        <input matInput placeholder="Születési év" formControlName="birth" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nemzetiség</mat-label>
        <input matInput placeholder="Nemzetiség" formControlName="nationality" />
      </mat-form-field>
    </div>

    <span>
      <button mat-raised-button color="primary" type>Mentés</button>
    </span>
  </form>
</div>
